
.jumbotron {
  background-image: url("https://c1.staticflickr.com/3/2614/3687413597_d66f66290b_b.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
}

body {
  background-color: black;
  font-family: 'Lato', sans-serif;
}

.center {
  background-color: white;
  color: black;
}

.center img{
  width: 10em;
  height: 15em;
}

.nav {
    font-family: 'Shadows Into Light', cursive;
    font-size: 2em;
}

.nav a{
  color: slategrey;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  background-color: darkgrey;
  color: grey;
  font-size: .7em;
}
